-
	var blog = [
			{
				img : src="img/blog-1.png",
				title : 'Lorem ipsum dolor sit amet, consectetur adipiscing',
				date : 'Jan 9, 2016'
			},
			{
				img : src="img/blog-2.png",
				title : 'Consectetur adipiscing elit, sed do eiusmod tempor',
				date : 'Jan 9, 2016'
			},
			{
				img : src="img/blog-3.png",
				title : 'sed do eiusmod tempor incididunt ut labore',
				date : 'Jan 9, 2016'
			}
	];
.footer-wrap
	.wrapper
		.footer.row
			.col-desktop-2-5
				.about
					.about__logo MoGo
					.about__info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.about__folowers 15k 
						span followers
					.about__social-networks
						|Follow us:
						.gren-icons
							.fab.fa-facebook-f
							.fab.fa-twitter
							.fab.fa-instagram
							.fab.fa-pinterest-p
							.fab.fa-google-plus-g
							.fab.fa-youtube
							.fab.fa-dribbble
							.fab.fa-tumblr
					.about__form
						form(actions="/", method="GET")
							input(type="email" 
								placeholder="Your e-mail"
								required
								email="email")
							button.button(type="submit") Subscribe
			.col-desktop-3-5.col-footer-1-2
				.blogs
					.footer__title BLOGS
					each item in blog
							article.blog-article
								picture
										img(src=item.img)
								.article__intro
									.article__intro-title.team__name=item.title
									.article__intro-date=item.date
				.instagram
					.footer__title INSTAGRAM
					script(src="https://instawidget.net/js/instawidget.js?u=923b4380f8b6aea17d39ccf59b59bd32805a025b6e1ff5f8c6dd32edcd16df31&width=200px")
					a(href="https://instawidget.net/v/user/ladanivskyy" id="link-923b4380f8b6aea17d39ccf59b59bd32805a025b6e1ff5f8c6dd32edcd16df31" @ladanivskyy)
					a(href="https://www.instagram.com/ladanivskyy/" target="_blank").view-more
						|View more photos
		.copyrights
			|© 2016 MoGo free PSD template by 
			span
				a(href='#') 
					|Laaqiq

					<!-- InstaWidget -->